
#mainContent {
    text-align: center;
    margin: 0 auto;
    height: 400px;
    width: 70%;
}

#carousel {
    margin-top: 50px;
}

.image {
    height: 200px;
    width: 200px;
}

a, a:hover{
    text-decoration: none;
}

.github {
    display: block;
    font-size: 20px;
    margin: 20px auto 10px auto;
}

.main {
    text-align: center;
}

.nav-button {
    display: inline-block;
    margin: 0 15px;
}

.index-point {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #4b4e4b;
    border-radius: 50%;
    /*border: 1px solid black;*/
    display: inline-block;
}

.nav-button:hover, .index-point:hover {
    cursor: pointer;
}

.index-point-active {
    background-color: red;
}

